
// Variables Styles

// Theme Colors
$yellow: #fae100;
$blue: #002f5d;
$dark_blue: #022956;
$gray: #333640;

// btn colors
$btn-success-bg: $blue !default;

// labels colors
//$label-success-bg: $blue !default;


// Alerts colors
$alert-success-bg: $blue !default;