
// Class Tools Styles

// Loop for build margin classes: .mt-10 = margin-top: 10px
@for $i from 0 through 100 {
	// Margin Top - .mt-
	.mt-#{$i} {
		margin-top: #{$i}px!important;
	}
	// Margin Bottom - .mb-
	.mb-#{$i} {
		margin-bottom: #{$i}px!important;
	}
	// Margin Right - .mr-
	.mr-#{$i} {
		margin-right: #{$i}px!important;
	}
	// Margin Left - .ml-
	.ml-#{$i} {
		margin-left: #{$i}px!important;
	}

	// Padding Top - .pt-
	.pt-#{$i} {
		padding-top: #{$i}px!important;
	}
	// Padding Bottom - .pb-
	.pb-#{$i} {
		padding-bottom: #{$i}px!important;
	}
	// Padding Right - .pr-
	.pr-#{$i} {
		padding-right: #{$i}px!important;
	}
	// Padding Left - .pl-
	.pl-#{$i} {
		padding-left: #{$i}px!important;
	}
}