
// Typography Styles

$default_font: 'Source Sans Pro';


h1 {
	font-size: 3em;
	font-weight: lighter;
}

h2 {
	font-size: 2.3em;
	font-weight: bold;
}

h3 {
	font-size: 2em;
	font-weight: bold;
}

h4 {
	font-size: 1.3em;
	font-weight: lighter;
}

p {
	display: block;
	font-size: 1em;
	font-weight: normal;
	line-height: 1.3;
	margin: 10px 0;
	word-break: break-word;
}


// Font Widths

.extra-light {
	font-weight: 200!important;
}

.light {
	font-weight: 300!important;
}

.regular {
	font-weight: normal!important;
}

.semibold {
	font-weight: 600!important;
}

.bold {
	font-weight: bold!important;
}

.black {
	font-weight: 900!important;
}

em {
	font-style: normal!important;
}